.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
   align-items: center;
  }
  
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .text-muted {
    color: #6c757d !important;
  }