<div
      class="h-100 d-flex justify-content-center" >
      <div className="d-flex justify-content-center">
        <div>
          <div className="d-flex justify-content-center">
            <div style="height: 100px; width: 100px" >
              <img
                src={{airoplane}}
                alt="logo"
                style="height: 100%; width: 100%"
              />
            </div>
          </div>
          <div
            className="text-muted"
            style="font-size: 20px; font-weight: bold"
          >
            Search for flights
          </div>
        </div>
      </div>
    </div>